/*current.css*/

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#nav-toggle {
    display: none;
}

html,body {
    height: 100%;
}

/*--------------------
header
---------------------*/

header {
    height: 80px;
}

.global_head {
    position: fixed;
    color: #033560;
    width: 100%;
    padding: 10px 30px;
    background: #fff;
    display: -webkit-flex;
    display: flex;
}

.header_cont {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.header_logo {
    display: block;
    width: 320px;
    max-width: 30%;
    margin-right: auto;
}

ul.h_links {
    display: flex;
}

ul.h_links > li {
    margin-right: 25px;
}

ul.h_links > li > a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #212121;
}

ul.h_links > li > a span {
    display: block;
    width: 20px;
    margin-right: 6px;
}

ul.h_links > li > a:hover {
    opacity: 1;
    color: #005BAC;
}

/*--------------------
Search
---------------------*/

.sb-icon-search {
    height: 40px;
}

form.searchform {
    position: relative;
    width: 280px;
    height: 40px;
    max-width: 24vw;
}

.sb-search-input {
    color: #212121;
    border: 1px solid #6C6966;
    font-size: 1.4rem;
    width: calc(100% - 60px);
    height: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: #212121;
    position: absolutea;
    top: 0;
    left: 0;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchform button.sb-search-submit{
    display: block;
    width: 60px;
    height: 40px;
    background: #212121;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    position: relative;
    border: 1px solid #212121;
    position: absolute;
    top: 0;
    right: 0;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-search {
    color: #fff;
    font-size: 1.8rem;
}



/*--------------------
ASIDE
---------------------*/


#main {
    background: #fcfcfc;
    padding-top: 50px;
/*    min-height: 1400px;*/
/*    margin-left: 260px;*/
    position: relative;
    -moz-transition: margin-left .25s linear;
    -webkit-transition: margin-left .25s linear;
    transition: margin-left .25s linear;
}

#sidemenu {
    padding-top: 80px;
    width: 260px;
    height: 100%;
    position: fixed;
    color: #afc3f2;
    background: #005BAC;
    top: 0;
    left: 0;
}

.sidemenu_heading {
    position: relative;
    background-color: #212121;
    padding: 15px 30px 15px 30px;
}

.sidemenu_heading .tit {
    color: #fff;
    font-size: 2.2rem;
    line-height: 1.4;
    font-family: "Zen Old Mincho", serif;
}

.sidemenu_heading .tit span {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: "Zen Old Mincho", serif;
}

#brand-logo {
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#global-nav ul {
    list-style: none;
    margin-left: 0;
}

#global-nav > ul > li {
    position: relative;
}

#global-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 20px 8px 38px;
    margin-right: 18px;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}

#global-nav .sub-menu.is-active > a,
#global-nav a:hover {
    color: #fff;
}


/* sub-menu icon */
#global-nav .sub-menu-head {
    position: relative;
}

.sub-menu-head_ic {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
}

.sub-menu-head_ic:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    height: 1px;
/*    border-radius: 10px;*/
    background: #fff;
    display: block;
}

.sub-menu-head_ic:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1px;
    height: 60%;
/*    border-radius: 10px;*/
    background: #FFF;
    display: block;
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    will-change: transform;
}

.sub-menu-head_ic.act:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

#global-nav .sub-menu-nav {
    /* background: #032f55; */
    display: none;
    padding: 10px 0;

    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}


#global-nav .sub-menu-nav a {
    color: #fff;
    padding: 8px 15px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 0;
}

#global-nav .sub-menu-nav a:hover {
    color: #fff;
}

#global-nav .sub-menu-nav .sub-menu-nav-ttl{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 38px;
    border-top: 1px solid #3E70BA;
    border-bottom: 1px solid #3E70BA;
    position: relative;
}

#global-nav .sub-menu-nav .sub-menu-nav-ttl::before{
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 8px;
    height: 8px;
    background: url(/tukyo/tukyo_current/img/top/right_arr.png) no-repeat;
    background-size: 100% 100%;
}

#global-nav .sub-menu-nav-ul{
    display: none;
    padding: 0 38px;
}

.sub-menu-head_ic.minus-on:after{
    content: none;
}

/* nav-toggle */
#nav-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 32px;
}

#nav-toggle > div {
    position: relative;
    width: 32px;
}

#nav-toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #212121;
    position: absolute;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

/* #nav-toggle close */
#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 11px;
}

#nav-toggle span:nth-child(3) {
    top: 22px;
}

/* z-index */
#nav-toggle {
    z-index: 1000;
}
#container {
    z-index: 900;
}

/* close */
.close #container {
    margin-left: 0;
}
.close #brand-logo {
    margin-left: 50px;
}
.close #nav-toggle span {
    background: #033560;
}

@media screen and (max-width: 900px) {
    #nav-toggle {
        display: block;
    }
    #main {
/*        margin-left: 0;*/
    }
    #brand-logo {
        margin-left: 50px;
    }
    #nav-toggle span {
        background: #033560;
    }
    #sidemenu {
        left: 0;
        z-index: 910;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
    }
    .close #sidemenu {
        left: -260px;
    }
}






/*--------------------
Contents
---------------------*/

main .inner {
    width: 1000px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.top_heading h1 {
    display: flex;
    font-size: 3.2rem;
    align-items: center;
}

.top_heading h1 span {
    display: inline-block;
    width: 64px;
    margin-right: 10px;
}


.button-border{
    position: relative;
    display: inline-block;
    text-decoration: none;
}

ul.top_links {
    width: 100%;
    margin: 40px auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

ul.top_links > li {
    width: 310px;
    max-width: 32%;
    min-height: 188px;
    margin-bottom: 12px;
/*    aspect-ratio: 312 / 188;*/
}

ul.top_links > li > a {
    width: 310px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px;
    background-color: #fff;
    border: 1px solid #005BAC;
    border-radius: 12px;
}

ul.top_links > li > a .tit {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
}

ul.top_links > li > a .ic_img {
    width: 40px;
    margin: 15px auto 15px;
}

ul.top_links > li > a .ic_img.ic_test_img{
    width: 57px;
}

ul.top_links > li > a .ic_img.ic_school_img{
    width: 60px;
}

ul.top_links > li > a .ic_img.ic_regi_img{
    width: 51px;
}

ul.top_links > li > a .ic_img.ic_text_img{
    width: 47px;
}

ul.top_links > li > a .ic_img.ic_kamoku_img{
    width: 46px;
}

ul.top_links > li > a .ic_img.ic_tuition_img{
    width: 48px;
}

ul.top_links > li > a .ic_img.ic_graduate_img{
    width: 47px;
}

ul.top_links > li > a .vmore {
    width: 98px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005BAC;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 24px;
}

ul.btn_links {
    display: flex;
    justify-content: center;
    column-gap: 13px;
}

ul.btn_links li {
    width: 230px;
}

ul.btn_links li a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #E5F2FD;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
}

ul.btn_links li a .btn_links_img {
    width: 50px;
}

ul.btn_links li a p {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 500;
}

